<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cathals HTML/JS Sandbox</title>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>
        test
    </h1>
    <div id="app"> 

        <div v-if="showBooks">
            <p> {{title}} - {{age}} </p>
           
        </div>
        

        <button @click="age++">Increase age</button>
        <button @click="changeTitle('New Title')">Change Title</button>

        <button @click="toggleShowBooks">
            <span v-if="showBooks"> Hide books</span>
            <span v-else> Show books</span>
        </button>
        <div v-show="showBooks">Showing books</div>

        <div class="box" @mouseover = "handleEvent" @mouseleave="handleEvent2">Mouse Over</div>
        <div class="box" @mouseover = "getcxy($event)"> {{cx}} - {{cy}}</div>
                    


    </div>

</body>


<script src = "https://unpkg.com/vue@3.0.2"></script>
<script src = basicJStest.js></script>
</html>
